
	body{
		width:100%;
		
		margin:auto auto;
		background: rgba(31,29,5,1);
		background: -moz-linear-gradient(left, rgba(31,29,5,1) 0%, rgba(254,182,69,1) 98%, rgba(254,182,69,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(31,29,5,1)), color-stop(98%, rgba(254,182,69,1)), color-stop(100%, rgba(254,182,69,1)));
		background: -webkit-linear-gradient(left, rgba(31,29,5,1) 0%, rgba(254,182,69,1) 98%, rgba(254,182,69,1) 100%);
		background: -o-linear-gradient(left, rgba(31,29,5,1) 0%, rgba(254,182,69,1) 98%, rgba(254,182,69,1) 100%);
		background: -ms-linear-gradient(left, rgba(31,29,5,1) 0%, rgba(254,182,69,1) 98%, rgba(254,182,69,1) 100%);
		background: linear-gradient(to right, rgba(31,29,5,1) 0%, rgba(254,182,69,1) 98%, rgba(254,182,69,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1d05', endColorstr='#feb645', GradientType=1 );
	}
	
	header{
		width:100%;
		height:140px;
		text-align:center;
	//	background-color:yellow;
		background-repeat:no-repeat;
		background-image:url('../images/header.png');
	}
	
	aside{
		width:300px;
		float:right;
		height:170px;
		margin-top:-190px;
		text-align:center;
		transition:all .3s ease;
		border:5px solid #ffc119;
		background-image:url('../images/bg.png');
		-moz-box-shadow:    inset 0 0 20px white;
		-webkit-box-shadow: inset 0 0 20px white;
		box-shadow:         inset 0 0 20px white;
	}
	
	#staff{
		margin-top:5px;
		margin-bottom:5px;
	}
	
	#staffs{
		margin-top:5px;
		margin-bottom:5px;
	}
	
	#aside2{
		height:70px;
		font-size:18px;
	}
	
	#title, footer{
		height:50px;
		color:white;
		width:810px;
		font-size:40px;
		margin-top:-40px;
		margin-left:90px;
		text-align:center;
		background-color:#ffe019;
		text-shadow: 0 1px 0 #ccc,
                     0 2px 0 #c9c9c9,
					 0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);
		-moz-box-shadow:    inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow:         inset 0 0 10px #000000;
	}
	
	footer, #footerAdd, #footerMain{
		height:50px;
		font-size:20px;
		margin-top:380px;
	}
	
	#footerAdd{
		margin-top:685px;
	}
	
	#footerMain{
		margin-top:530px;
	}
	
	#foot-left, #foot-right{
		float:left;
		margin-top:10px;
		margin-left:10px;
		text-shadow: 0 1px 0 #ccc,
                     0 2px 0 #c9c9c9,
					 0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);
	}
	
	#foot-right{
		float:right;
		margin-right:10px;
	}
	
	a{
		float:left;
		color:white;
		width:120px;
		height:120px;
		margin-top:15px;
		margin-left:77px;
		text-decoration:none;
	}
	
	.day{
		color:white;
		margin-top:3px;
		text-shadow: 0 1px 0 #ccc,
                     0 2px 0 #c9c9c9,
					 0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);
	}
	
	#home{
		cursor:pointer;
		font-size:15.7px;
		margin-top:-80px;
		margin-left:280px;
	}
	
	article, #articleInstall, #articleAdd, #articleMain{
		float:left;
		width:800px;
		height:250px;
		margin-top:20px;
		margin-left:90px;
		text-align:center;
		border:5px solid #ffc119;
		background-image:url('../images/bg.png');
		-moz-box-shadow:    inset 0 0 20px white;
		-webkit-box-shadow: inset 0 0 20px white;
		box-shadow:         inset 0 0 20px white;
	}
	
	#articleInstall{
		height:330px;
	}
	
	#articleAdd{
		height:565px;
	}
	
	#articleMain{
		height:400px;
	}
	
	input{
		padding:5px;
		font-size:15px;
		text-align:center;
	}
	
	#button, #button2{
		cursor:pointer;
	}
	
	#button2{
		margin-top:-50px;
		margin-left:180px;
	}
	
	#addRecord{
		margin-top:10px;
	}
	
	#addRecords{
		margin-top:10px;
	}
	
	#oops, #lis{
		font-size:40px;
	}
	
	#oopsButton{
		margin-left:280px;
	}
	
	#gotoButton{
		margin-left:335px;
	}
	